<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>

    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
<!--    <link th:src="@{https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap}" rel="stylesheet">-->

    <!-- Css Styles -->
    <link rel="stylesheet" th:src="@{css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:src="@{css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:src="@{css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:src="@{css/flaticon.css}" type="text/css">
    <link rel="stylesheet" th:src="@{css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:src="@{css/barfiller.css}" type="text/css">
    <link rel="stylesheet" th:src="@{css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:src="@{css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:src="@{css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:src="@{css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:src="@{css/style.css}" type="text/css">
</head>
<body>
<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/"><img th:src="@{img/logo.png}" alt="Logo"></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/listing}">Listing</a></li>
                            <li><a th:href="@{/blog-details}">Categories</a></li>
                            <li><a th:href="@{#}">Pages</a>
                                <ul class="dropdown">
                                    <li><a th:href="@{~/about}">About</a></li>
                                    <li><a th:href="@{~/listing-details}">Listing Details</a></li>
                                    <li><a th:href="@{~/blog-details}">Blog Details</a></li>
                                    <li><a th:href="@{~/contact}">Contact</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{/blog}">Blog</a></li>
                            <li><a th:href="@{#}">Shop</a></li>
                        </ul>
                    </nav>
                    <div class="header__menu__right">
                        <a th:href="@{#}" class="primary-btn"><i class="fa fa-plus"></i>Add Listing</a>
                        <a th:href="@{#}" class="login-btn"><i class="fa fa-user"></i></a>
                        <a th:href="@{/api/allow_info/basic}" class="login-btn" id="btn-allow-basic">API Test</i></a>

                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header Section End -->

</body>
</html>