<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Board</title>
    <div th:replace="layout/common :: css"></div>
</head>
<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div th:replace="layout/common :: header"></div>


<!-- Breadcrumb Begin -->
<div class="breadcrumb-area set-bg" style="background-image: url(img/breadcrumb/breadcrumb-blog.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Medicine Review</h2>
                    <div class="breadcrumb__option">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>ID 님 의 Review Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog__item__large">
                    <div class="blog__item__pic set-bg" style="background-image: url(img/blog/blog-large.jpg)">
                        <a href="https://www.youtube.com/watch?v=8EJ3zbKTWQ8" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="blog__item__text">
                        <ul class="blog__item__tags">
                            <li><i class="fa fa-tags"></i>이 게시글이 대표게시글인듯</li>
                            <li> 태그 자리</li>
                            <li>여러개 가능</li>
                            <li>넣을지 말지 선택</li>
                        </ul>
                        <h3><a href="#">게시글 제목</a></h3>
                        <ul class="blog__item__widget">
                            <li><i class="fa fa-clock-o"></i>게시글 작성 날짜 (19th March, 2019)</li>
                            <li><i class="fa fa-user"></i>작성자 닉네임?ID?</li>
                        </ul>
                        <p>게시글 한줄 설명? 요약 : 작성시 한줄요약 따로, 내용 따로<br>
                            아니면 게시글 내용 중 1줄만 뿌려주게끔</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" style="background-image: url(img/blog/bp-1.jpg)"></div>
                            <div class="blog__item__text">
                                <ul class="blog__item__tags">
                                    <li><i class="fa fa-tags"></i>태그자리</li>
                                    <li>여러개 가능</li>
                                </ul>
                                <h5><a href="#">게시글 제목</a></h5>
                                <ul class="blog__item__widget">
                                    <li><i class="fa fa-clock-o"></i>게시글 작성 날짜</li>
                                    <li><i class="fa fa-user"></i>작성자</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" style="background-image: url(img/blog/bp-2.jpg)">
                                <a href="https://www.youtube.com/watch?v=8EJ3zbKTWQ8" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="blog__item__text">
                                <ul class="blog__item__tags">
                                    <li><i class="fa fa-tags"></i>태그자리</li>
                                    <li>여러개 가능</li>
                                </ul>
                                <h5><a href="#">게시글 제목</a></h5>
                                <ul class="blog__item__widget">
                                    <li><i class="fa fa-clock-o"></i>게시글 작성 날짜</li>
                                    <li><i class="fa fa-user"></i>작성자</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" style="background-image: url(img/blog/bp-3.jpg)"></div>
                            <div class="blog__item__text">
                                <ul class="blog__item__tags">
                                    <li><i class="fa fa-tags"></i>태그자리</li>
                                </ul>
                                <h5><a href="#">게시글 제목</a></h5>
                                <ul class="blog__item__widget">
                                    <li><i class="fa fa-clock-o"></i>게시글 작성 날짜</li>
                                    <li><i class="fa fa-user"></i>작성자</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" style="background-image: url(img/blog/bp-4.jpg)">
                                <a href="https://www.youtube.com/watch?v=8EJ3zbKTWQ8" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="blog__item__text">
                                <ul class="blog__item__tags">
                                    <li><i class="fa fa-tags"></i>태그자리</li>
                                </ul>
                                <h5><a href="#">게시글 제목</a></h5>
                                <ul class="blog__item__widget">
                                    <li><i class="fa fa-clock-o"></i>게시글 작성 날짜</li>
                                    <li><i class="fa fa-user"></i>작성자</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" style="background-image: url(img/blog/bp-5.jpg)"></div>
                            <div class="blog__item__text">
                                <ul class="blog__item__tags">
                                    <li><i class="fa fa-tags"></i>태그자리</li>
                                </ul>
                                <h5><a href="#">게시글 제목</a></h5>
                                <ul class="blog__item__widget">
                                    <li><i class="fa fa-clock-o"></i>게시글 작성 날짜</li>
                                    <li><i class="fa fa-user"></i>작성자</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" style="background-image: url(img/blog/bp-6.jpg)"></div>
                            <div class="blog__item__text">
                                <ul class="blog__item__tags">
                                    <li><i class="fa fa-tags"></i>태그자리</li>
                                </ul>
                                <h5><a href="#">게시글 제목</a></h5>
                                <ul class="blog__item__widget">
                                    <li><i class="fa fa-clock-o"></i>게시글 작성 날짜</li>
                                    <li><i class="fa fa-user"></i>작성자</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog__pagination">
                    <a href="#"><i class="fa fa-long-arrow-left"></i> Pre</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Searching...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <h2>여기밑으로는 어떻게 넣을지.. 고민중</h2>
                    <div class="blog__sidebar__recent">
                        <h5>Recent Post (전체 게시글 중 최근 포스팅 넣으면 좋을 듯)</h5>
                        <a href="#" class="blog__sidebar__recent__item">
                            <div class="blog__sidebar__recent__item__pic">
                                <img src="img/blog/recent-1.jpg" alt="">
                            </div>
                            <div class="blog__sidebar__recent__item__text">
                                <span><i class="fa fa-tags"></i> Shopping</span>
                                <h6>Tortoise grilled on salt</h6>
                                <p><i class="fa fa-clock-o"></i> 19th March, 2019</p>
                            </div>
                        </a>
                        <a href="#" class="blog__sidebar__recent__item">
                            <div class="blog__sidebar__recent__item__pic">
                                <img src="img/blog/recent-2.jpg" alt="">
                            </div>
                            <div class="blog__sidebar__recent__item__text">
                                <span><i class="fa fa-tags"></i> Hotels</span>
                                <h6>Shrimp floured and fried</h6>
                                <p><i class="fa fa-clock-o"></i> 22th March, 2019</p>
                            </div>
                        </a>
                        <a href="#" class="blog__sidebar__recent__item">
                            <div class="blog__sidebar__recent__item__pic">
                                <img src="img/blog/recent-3.jpg" alt="">
                            </div>
                            <div class="blog__sidebar__recent__item__text">
                                <span><i class="fa fa-tags"></i> Restaurant</span>
                                <h6>Sweet and sour pork ribs</h6>
                                <p><i class="fa fa-clock-o"></i> 25th March, 2019</p>
                            </div>
                        </a>
                        <a href="#" class="blog__sidebar__recent__item">
                            <div class="blog__sidebar__recent__item__pic">
                                <img src="img/blog/recent-4.jpg" alt="">
                            </div>
                            <div class="blog__sidebar__recent__item__text">
                                <span><i class="fa fa-tags"></i> Videos</span>
                                <h6>Crab fried with tamarind</h6>
                                <p><i class="fa fa-clock-o"></i> 19th March, 2019</p>
                            </div>
                        </a>
                        <a href="#" class="blog__sidebar__recent__item">
                            <div class="blog__sidebar__recent__item__pic">
                                <img src="img/blog/recent-5.jpg" alt="">
                            </div>
                            <div class="blog__sidebar__recent__item__text">
                                <span><i class="fa fa-tags"></i> Travel</span>
                                <h6>Tortoise grilled on salt</h6>
                                <p><i class="fa fa-clock-o"></i> 19th March, 2019</p>
                            </div>
                        </a>
                    </div>
                    <div class="blog__sidebar__categories">
                        <h5>Categories</h5>
                        <ul>
                            <li><a href="#">Finance <span>18</span></a></li>
                            <li><a href="#">Business <span>20</span></a></li>
                            <li><a href="#">Loan <span>07</span></a></li>
                            <li><a href="#">Consulting <span>22</span></a></li>
                            <li><a href="#">Credit <span>19</span></a></li>
                        </ul>
                    </div>
                    <div class="blog__sidebar__tags">
                        <h5>Popular Tag</h5>
                        <a href="#">Business</a>
                        <a href="#">Marketing</a>
                        <a href="#">Payment</a>
                        <a href="#">Travel</a>
                        <a href="#">Finance</a>
                        <a href="#">Videos</a>
                        <a href="#">Ideas</a>
                        <a href="#">Unique</a>
                        <a href="#">Music</a>
                        <a href="#">Key</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<div th:replace="layout/common :: footer"></div>

<div th:replace="layout/common :: script"></div>
</body>
</html>