<html xmlns:th="http://www.thymeleaf.org">

<!-- Header Section Begin -->
<header class="header" th:fragment="commonHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{/}"><img th:src="@{img/logo.png}" alt="Logo"></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{listing}">Listing</a></li>
                            <li><a th:href="@{blog-details}">Categories</a></li>
                            <li><a th:href="@{#}">Pages</a>
                                <ul class="dropdown">
                                    <li><a th:href="@{about}">About</a></li>
                                    <li><a th:href="@{listing-details}">Listing Details</a></li>
                                    <li><a th:href="@{blog-details}">Blog Details</a></li>
                                    <li><a th:href="@{contact}">Contact</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{blog}">Blog</a></li>
                            <li><a th:href="@{#}">Shop</a></li>
                        </ul>
                    </nav>
                    <div class="header__menu__right">
                        <a th:href="@{#}" class="primary-btn"><i class="fa fa-plus"></i>Add Listing</a>
                        <a th:href="@{#}" class="login-btn"><i class="fa fa-user"></i></a>
                        <a th:href="@{api/allow_info/basic}" class="login-btn" id="btn-allow-basic">API Test</i></a>

                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header Section End -->

</html>