<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${board.getBrd_title()}"></title>
    <div th:replace="layout/common :: css"></div>
</head>
<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div th:replace="layout/common :: header"></div>

    <!-- Blog Hero Begin -->
    <div class="blog-details-hero set-bg" style="background-image: url('img/blog/details/blog-hero.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="blog__hero__text">
                        <div class="label">카테고리</div>
                        <h2>게시글 제목</h2>
                        <ul>
                            <li><i class="fa fa-clock-o"></i>게시글 작성 날짜</li>
                            <li><i class="fa fa-user"></i>작성자</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog__details__text">
                        <div class="blog__details__video set-bg" style="background-image: url('img/blog/details/blog-video-bg.jpg')">
                            <a href="https://www.youtube.com/watch?v=8EJ3zbKTWQ8" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                        </div>
                        <h3>게시글 작성하는건 textarea로 해도되고 아님 summernote api 가져와서 넣어도 좋을듯</h3>
                        <p>You have finished building your own website. You have introduced your company and presented
                            your products and services. You have added propositions and promos to catch your target
                            audience’s attention. You think you are doing everything “right”, but all your promotions
                            have failed to produce growth in your new internet business. There are many ways for your
                            web site to be promoted, but maybe you’re missing the “key” to the “best” promotion. Here
                            are some things to consider: – If you have started to promote your web site, keep it
                            constant. If you promote your site with persistence, it will catch your audience’s
                            attention. – Be patient. Try each different promotion until you find the best.</p>
                        <h5>Cattle She’d Days Lights Light Saw Spirit Shall</h5>
                        <p>Free promotions such as search engines and directories would give your web site the deserved
                            traffic you always wanted. Make sure to check your web site’s ranking to know whether or not
                            this type of free promotion is right for you. – Make a deal with other web sites on trading
                            links which could help both web sites. Make sure to use words that could easily interest the
                            audience.</p>
                        <img src="img/blog/details/blog-item.jpg" alt="">
                        <p>Analyze your techniques, keep track of your customers and learn what works. Then be ready to
                            try new methods and repeat those methods that are already working. It has been said that the
                            best things in life are free and this saying also applies to the many forms of free
                            advertising that are available on the internet. Give this form of advertising a try and you
                            also may become a true believer in the power of free internet advertising.</p>
                    </div>
                    <div class="blog__details__tags">
                        <span>Tags</span>
                        <a th:href="@{#}">Ideas</a>
                        <a th:href="@{#}">Unique</a>
                        <a th:href="@{#}">Video</a>
                    </div>
                    <h3>카카오로 전송하는건 해봤슴,, 그것도 api라고 해야되나? 여튼 카카오로 하는거는 가능.. </h3>
                    <div class="blog__details__share">
                        <a th:href="@{#}" class="blog__details__share__item">
                            <i class="fa fa-facebook"></i>
                            <span>Share</span>
                        </a>
                        <a th:href="@{#}" class="blog__details__share__item twitter">
                            <i class="fa fa-twitter"></i>
                            <span>Share</span>
                        </a>
                        <a th:href="@{#}" class="blog__details__share__item google">
                            <i class="fa fa-google"></i>
                            <span>Share</span>
                        </a>
                        <a th:href="@{#}" class="blog__details__share__item linkedin">
                            <i class="fa fa-linkedin"></i>
                            <span>Share</span>
                        </a>
                    </div>
                    <div class="blog__details__new__post">
                        <div class="blog__details__new__post__title">
                            <h4>News Post (이거는 뭔지 감도 안잡힘,, 광고게시글이나 뭐 베스트게시글 그런걸까..?)</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic set-bg" style="background-image: url('img/blog/bp-5.jpg')"></div>
                                    <div class="blog__item__text">
                                        <ul class="blog__item__tags">
                                            <li><i class="fa fa-tags"></i> Videos</li>
                                        </ul>
                                        <h5><a th:href="@{#}">Citrus Heights Snack Man Helps Feed The Homeless</a></h5>
                                        <ul class="blog__item__widget">
                                            <li><i class="fa fa-clock-o"></i> 19th March, 2019</li>
                                            <li><i class="fa fa-user"></i> John Smith</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic set-bg" style="background-image: url('img/blog/bp-6.jpg')"></div>
                                    <div class="blog__item__text">
                                        <ul class="blog__item__tags">
                                            <li><i class="fa fa-tags"></i> Travel</li>
                                        </ul>
                                        <h5><a th:href="@{#}">Homeless woman’s viral subway opera performance</a></h5>
                                        <ul class="blog__item__widget">
                                            <li><i class="fa fa-clock-o"></i> 19th March, 2019</li>
                                            <li><i class="fa fa-user"></i> John Smith</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog__details__comment__form">
                        <div class="blog__details__comment__title">
                            <h4>Leave A Reply (이거 댓글창인듯, 보완 절실)</h4>
                        </div>
                        <form action="#">
                            <div class="input-list">
                                <div class="input-item">
                                    <p>Name</p>
                                    <input type="text">
                                </div>
                                <div class="input-item">
                                    <p>Email</p>
                                    <input type="text">
                                </div>
                                <div class="input-item">
                                    <p>Website</p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="input-comment">
                                <p>Comment</p>
                                <textarea></textarea>
                            </div>
                            <button type="submit" class="site-btn">Submit Now</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Searching...">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="blog__sidebar__recent">
                            <h5>Recent Post</h5>
                            <a th:href="@{#}" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img th:src="@{img/blog/recent-1.jpg}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <span><i class="fa fa-tags"></i> Shopping</span>
                                    <h6>Tortoise grilled on salt</h6>
                                    <p><i class="fa fa-clock-o"></i> 19th March, 2019</p>
                                </div>
                            </a>
                            <a th:href="@{#}" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img th:src="@{img/blog/recent-2.jpg}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <span><i class="fa fa-tags"></i> Hotels</span>
                                    <h6>Shrimp floured and fried</h6>
                                    <p><i class="fa fa-clock-o"></i> 22th March, 2019</p>
                                </div>
                            </a>
                            <a th:href="@{#}" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img th:src="@{img/blog/recent-3.jpg}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <span><i class="fa fa-tags"></i> Restaurant</span>
                                    <h6>Sweet and sour pork ribs</h6>
                                    <p><i class="fa fa-clock-o"></i> 25th March, 2019</p>
                                </div>
                            </a>
                            <a th:href="@{#}" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img th:src="@{img/blog/recent-4.jpg}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <span><i class="fa fa-tags"></i> Videos</span>
                                    <h6>Crab fried with tamarind</h6>
                                    <p><i class="fa fa-clock-o"></i> 19th March, 2019</p>
                                </div>
                            </a>
                            <a th:href="@{#}" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img th:src="@{img/blog/recent-5.jpg}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <span><i class="fa fa-tags"></i> Travel</span>
                                    <h6>Tortoise grilled on salt</h6>
                                    <p><i class="fa fa-clock-o"></i> 19th March, 2019</p>
                                </div>
                            </a>
                        </div>
                        <div class="blog__sidebar__categories">
                            <h5>Categories</h5>
                            <ul>
                                <li><a th:href="@{#}">Finance <span>18</span></a></li>
                                <li><a th:href="@{#}">Business <span>20</span></a></li>
                                <li><a th:href="@{#}">Loan <span>07</span></a></li>
                                <li><a th:href="@{#}">Consulting <span>22</span></a></li>
                                <li><a th:href="@{#}">Credit <span>19</span></a></li>
                            </ul>
                        </div>
                        <div class="blog__sidebar__tags">
                            <h5>Popular Tag</h5>
                            <a th:href="@{#}">Business</a>
                            <a th:href="@{#}">Marketing</a>
                            <a th:href="@{#}">Payment</a>
                            <a th:href="@{#}">Travel</a>
                            <a th:href="@{#}">Finance</a>
                            <a th:href="@{#}">Videos</a>
                            <a th:href="@{#}">Ideas</a>
                            <a th:href="@{#}">Unique</a>
                            <a th:href="@{#}">Music</a>
                            <a th:href="@{#}">Key</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

<div th:replace="layout/common :: footer"></div>

<div th:replace="layout/common :: script"></div>
</body>
</html>